@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #333333;
  ;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-booking {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-title-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantages-item {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  width: 800px;
  height: 800px;
  list-style-type: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.text {
  color: #333333;
}

.conveniences-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.conveniences-service {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.conveniences-items {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  text-align: center;
  width: 400px;
  height: 385px;
  list-style-type: none;
}

.conveniences-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.intrested {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.best-deals {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.how-to-find-link {
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.subscription-main {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 1200px 414.86px;
  background-repeat: no-repeat;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-main p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-field {
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
