@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  ;
}

.button:disabled {
  background-color: #e5e5e5;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-logo {

  width: 138px;
  margin-right: 30px;
  z-index: 2;
  position: relative;
}

.logo {
  display: block;
  position: absolute;
  bottom: -6px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  max-width: 450px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
  position: relative;

}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-link-favourites {
  position: relative;
}

.favourites-number {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 11px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background: #7DB54F;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
  box-sizing: border-box;
}


.navigation-user .navigation-link-booking {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 34px;
  margin-left: 20px;
  border-radius: 4px;
}

.navigation-link-booking:hover,
.navigation-link-booking:focus {
  background-color: #615048;
}

.navigation-link-booking:active {
  color: rgba(255, 255, 255, 0.3);
  ;
}

.navigation-link-booking:disabled {
  background-color: #e5e5e5;
}


.main-container {
  flex-grow: 1;
}

.welcome {
  display: grid;
  grid-template-columns: 1200px;
}

.welcome::after {
  content: url(../images/divider.svg);
  height: 57px;
  width: 1200px;
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
}

.welcome-logo {
  margin: 51px auto 82px;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
}

.welcome-mountains {
  grid-column: 1/2;
  grid-row: 1/2;
}

.advantages {
  margin-bottom: 64px;
}

.advantages-title-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 69px auto 25px;
  width: 620px;

}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 64px;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  width: 400px;

}

.advantages-town,
.advantages-bridge {
  display: flex;
  width: 100%;
}

.advantages-container {
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.advantages-container p {
  margin: 0;
}

.advantages-container-bridge {
  order: 2;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 62px;
  position: relative;
}

.advantages-title::before {
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-title-square::before,
.advantages-title-road::before,
.advantages-title-tourists::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item img {
  object-fit: contain;
}

.text {
  color: #333333;
}

.conveniences-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 20px;
  width: 505px;
}

.conveniences-service {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 64px;

}

.conveniences-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.conveniences-items {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  text-align: center;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  padding: 81px 85px;
  box-sizing: border-box;
  justify-content: flex-start;
}

.conveniences-food {
  background-color: #ffffff;
}

.conveniences-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: top;
}

.conveniences-housing::before {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 72px;
  content: url(../images/property.svg);

}

.conveniences-food::before {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 72px;
  content: url(../images/food.svg);
}

.conveniences-souvenirs::before {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 72px;
  content: url(../images/souvenirs.svg);
}

.conveniences-items p {
  margin: 0;
}

.how-to-find {
  padding: 96px 304px;
}

.intrested {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 20px;
}

.best-deals {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0 auto 54px;
}

.how-to-find-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscription-main {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 415px;
  padding: 96px 258px 104px 258px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
  text-align: center;
}

.subscription-form {
  margin: 0 auto;
  width: 684px;
  display: flex;
}

.subscription-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #f2f2f2;
  width: 452px;
  border: none;
  padding: 0;
  border-radius: 4px 0 0 4px;
}

.subscription-main p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 475px;
  margin: 0 auto auto;
}

.subscription-button {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.subscription-button:hover,
.subscription-button:focus {
  background-color: #68a2ca;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  width: 144px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.social-icon {
  fill: #83b3d3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 720px;
  margin: 5px 0;
}

.phone:hover,
.phone:focus {
  color: #756157
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-academy svg {
  display: block;
}

.navigation-academy:hover .academy-logo,
.navigation-academy:focus .academy-logo {
  fill: #756157
}

.navigation-academy:active .academy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.background-catalog {
  background-color: #000000;
  color: #ffffff;
  background-image: url(../images/filter-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 412px;
  padding: 35px 70px 70px;
  box-sizing: border-box;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 auto 8px 0;
}

.breadcrumbs {
  display: flex;
  margin: 0 auto 40px 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  min-width: 13px;
  min-height: 15px;
  margin-right: 28px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  right: -18px;
  width: 8px;
  height: 20px;
  background-image: url(../images/breadcrumbs-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";

}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link-home {
  background-image: url(../images/breadcrumbs-index.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 12px;
  min-height: 12px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group-cost {
  width: 288px;
  margin-left: auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  line-height: 23px;
}

.button-submit {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

.search-result-container {
  display: flex;
  padding: 50px 70px 40px 70px;
}

.search-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  min-width: 338px;
  margin: 0;
  margin-right: 200px;
  align-self: center;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  margin-right: auto;
  appearance: none;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 12px 40px 12px 19px;
  background-image: url(../images/select-item.svg);
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}


.button-sorting {
  width: 48px;
  height: 48px;
}

.button-sorting {
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 8px;
}

.button-sorting:hover {
  border: 2px solid #000000;
}

.button-sorting:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.button-sorting:active,
.button-current {
  border: 2px solid #000000;
}

.button-tile {
  background-image: url(../images/view-tile.svg);
}

.button-show-one {
  background-image: url(../images/view-show-one.svg);
}

.button-list {
  background-image: url(../images/view-list.svg);
}

.property-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  padding: 0 70px;
  list-style-type: none;
  margin: 0 auto 40px;
}

.property-card {
  padding: 20px;
  display: grid;
  gap: 16px 20px;
  grid-template-rows: 212px 1fr min-content auto auto;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}


.property-card-link {
  grid-column: 1/3;
  max-height: 212px;
  text-decoration: none;

}

.property-card-image {
  object-fit: contain;
}

.property-card-title {
  margin: 0;
  max-width: 300px;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

.property-card-type-of-housing {
  margin: 0;
  max-width: 140px;
  overflow-wrap: break-word;

}

.property-card-price {
  text-align: right;
  margin: 0;
  align-self: end;


}

.property-card-button {
  padding: 8px 26px;
}

.property-card-button-favorites-add {
  background-color: #82b3d3;
  padding: 8px 20px;
  border: none;
  cursor: pointer;

}

.property-card-button-favorites-add:hover,
.property-card-button-favorites-add:focus {
  background-color: #68a2ca;
}

.star {
  margin: 0;
  margin-left: -3px;
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  background-position: left;
}

.star-five {
  width: 117px
}

.star-four {
  width: 93px;

}

.star-three {
  width: 69px;
}

.star-two {

  width: 45px;
}

.star-one {

  width: 21px;
}

.property-card-rating {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 0 8px 0;
  border-radius: 4px;

}

.property-card-button-favorites-added {
  background-color: #7db54f;
  padding: 8px 18px;
  border: none;
  cursor: pointer;
}

.property-card-button-favorites-added:hover,
.property-card-button-favorites-added:focus {
  background-color: #6c9e42;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 40px 70px 60px 70px;
  border-top: 1px solid #e6e6e6;
}


.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  padding: 12px;
}

.pagination-link:hover:not(.pagination-current):not(.pagination-show-more),
.pagination-link:focus:not(.pagination-current):not(.pagination-show-more) {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
}

.pagination-link:active:not(.pagination-current):not(.pagination-show-more) {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-show-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.pagination-show-more:hover,
.pagination-show-more:focus {
  color: #756157;
  outline: 1px solid #82b3d3;
}

.pagination-active {
  color: rgba(117, 97, 87, 0.3);
}

.subscription-catalog {
  padding: 96px 258px 104px 258px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-catalog p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 475px;
  margin: 0 auto 54px;
}
