@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  color: #333333;
  height: 100%;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.header {
  padding: 0 70px;
}

.navigation {
  display: flex;

}

.navigation-logo {
  width: 140px;
  height: 70px;
  margin-left: 70px;
  margin-right: 20px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  max-width: 450px;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-booking {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.main-container {
  flex-grow: 1;
}


.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantages-title-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  width: 400px;
  height: 385px;
  list-style-type: none;
}

.advantages-town,
.advantages-bridge {
  display: flex;
  width: 1200px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.text {
  color: #333333;
}

.conveniences-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.conveniences-service {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.conveniences-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.conveniences-items {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  text-align: center;
  width: 400px;
  height: 385px;
  list-style-type: none;
}

.conveniences-food {
  background-color: #ffffff;
}

.conveniences-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.how-to-find {
  height: 406px;
}

.how-to-find-container {
  display: flex;
  flex-direction: column;
  margin: 96px auto;
  width: 592px;
  height: 214px;
}

.intrested {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.best-deals {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.how-to-find-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscription-main {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  height: 415px;
  border: 1px solid;
}

.subscrition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 96px auto 104px;
  width: 684px;
  height: 215px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #f2f2f2;
}

.subscription-main p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-button {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding: 40px 70px 30px;
}

.footer-social-list {
  list-style-type: none;
  width: 142px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 720px;
  height: 50px;
}

.navigation-logo {
  margin: 0;
  padding: 0;
}

.background-catalog {
  background-color: #000000;
  color: #ffffff;
  background-image: url(../images/filter-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 412px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  font-size: 16px;
  list-style-type: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group-cost {
  width: 288px;
  margin-left: auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  line-height: 23px;
}

.button-submit {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

.search-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.property-card {
  list-style-type: none;
}

.property-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.property-card-price {
  text-align: right;
}

.property-card-button-favorites-add {
  background-color: #82b3d3;
}

.property-card-rating {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.property-card-button-favorites-added {
  background-color: #7db54f;
}

.pagination-item {
  list-style-type: none;

}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-show-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-catalog p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
