@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation {
  display: flex;
  margin: 0 auto -6px;
  width: 1060px;
}

.navigation-logo {
  width: 138px;
  margin-right: 20px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  max-width: 450px;
  list-style-type: none;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-booking {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.main-container {
  flex-grow: 1;
}


.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  margin-bottom: 64px;
}

.advantages-title-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 69px auto 25px;
  width: 620px;

}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 64px;
  padding: 0;
}

.advantages-item {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  width: 400px;
  min-height: 385px;
  list-style-type: none;
}

.advantages-town,
.advantages-bridge {
  display: flex;
  width: 100%;
}

.advantages-container-bridge {
  order: 2;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.text {
  color: #333333;
}

.conveniences-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 20px;
  width: 505px;
}

.conveniences-service {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 64px;

}

.conveniences-list {
  display: flex;
  margin: 0 0 96px;
  padding: 0;
}

.conveniences-items {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  text-align: center;
  width: 400px;
  min-height: 385px;
  list-style-type: none;
}

.conveniences-food {
  background-color: #ffffff;
}

.conveniences-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.intrested {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 20px;
}

.best-deals {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0 auto 54px;
}

.how-to-find-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 376px;
  margin: 0 auto 96px;
  padding: 8px 50px;
  box-sizing: border-box;
}

.subscription-main {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 0 40px;
  min-height: 415px;
  padding: 96px 258px 104px 258px;
  box-sizing: border-box;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
  text-align: center;
}

.subscription-form {
  margin: 0 auto;
  width: 684px;
}

.subscription-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #f2f2f2;
  width: 452px;
}

.subscription-main p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 475px;
  margin: 0 auto 54px;
}

.subscription-button {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto 30px;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  width: 142px;
  margin: 0;
  padding: 0;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 720px;
  margin: 5px 0;
}

.background-catalog {
  background-color: #000000;
  color: #ffffff;
  background-image: url(../images/filter-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 412px;
  margin-bottom: 50px;
  border-top: 1px solid #ffffff;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 35px auto 8px 70px;
}

.breadcrumbs {
  margin: 0 auto 40px 70px;
  padding: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  list-style-type: none;
}

.filter {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group-cost {
  width: 288px;
  margin-left: auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  line-height: 23px;
}

.button-submit {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

.search-result-container {
  display: flex;
  margin: 0 auto 40px;
  width: 1060px
}

.search-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  min-width: 338px;
  margin: 0;
  margin-right: 200px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto 80px;
  padding: 0;
  width: 1060px;
  list-style-type: none;
}

.property-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.property-card-price {
  text-align: right;
}

.property-card-button-favorites-add {
  background-color: #82b3d3;
}

.property-card-rating {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.property-card-button-favorites-added {
  background-color: #7db54f;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto 60px;
  padding: 0;
}

.pagination-item {
  list-style-type: none;
  margin-right: 8px;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-show-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.subscription-catalog {
  padding: 96px 258px 104px 258px;
  margin-bottom: 40px;
}

.subscription-title-catalog {
  color: #000000;
  margin-top: 0;
}

.subscription-catalog p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 475px;
  margin: 0 auto 54px;
}
